* {
  margin: 0px;
  padding: 0px;
  font-size: 2rem;
  background: #fad18f;
}

h1 {
  text-align: center;
  padding-top: 50px;
  color: #190101ba;
}

h2 {
  text-align: center;
  padding-top: 50px;
  color: #190101ba;
}

p_address {
  font-size: 0.4em;
  display: block;
  color: #1a1502fa;
  font-family: "Fira Code";
  text-align: center;
}

.thadeo_00 {
  margin-left: 580px;
  width: 50wh;
  height: 50vh;
}
.thadeo_01 {
  margin-left: 80px;
  width: 100wh;
  height: 100vh;
}

.qrcode {
  padding-left: 800px;
}

.bautizo {
  padding: 10px 10px 10px 10px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 0.9rem;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  opacity: 1 !important;
  color: #9c8b7e;
}
